* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Jost", sans-serif;
}

  /* Header Content  */
    
header {
  display: flex;
  justify-content: space-around;
}
.logo img {
  height: 110px;
  width: 280px;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  padding: 2rem;
}

li a {
  text-decoration: none;
}

.container {
  margin: 50px;
  display: flex;
  justify-content: center;
}
.me {
  display: flex;
  justify-content: space-around;
}
.my-img {
  width: 380px;
  height: 380px;
  border-radius: 50%;
}
.my-content {
  line-height: 4rem;
  font-size: 2rem;
}

#name {
  color: #61809d;
}
.footer {
  display: flex;
}
